.comntainer-fluid{
  font-size: 1.5rem;
  margin-top: 2rem;
}
.table{
  padding: 2rem; 
  margin-left: 10%;
  margin-right: 10%;
  width: 80%; 
  color: black;
}
th{
  font-size: 1.3rem;
}
td{
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
}
img{
  width:250px;
  height: 250px;
  background-image: url('/assets/images/avatar.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25%;
}
.row{
  margin-bottom: 3rem;
}
.profile-info{
  text-decoration: none;
  margin-left: 1rem;
}
input{
  padding:1.5rem;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  margin-top: 1rem;
}
.col-md-1{
  border-left: 2px solid black;
}
#repos{
  float: right;
  margin-right: 5%;
}
#profile{
  margin-left: 5%;
}
.card-block{
  background-image: url('assets/images/infinite.jpeg');
  background-position: center;
}
#repo-link{
  text-decoration: underline;
  text-decoration-color:blue;
  color: blue;
}
#repo-title{
  margin-left: 40%;
}
.card-title{
  padding: 0.3rem;
}
#name-title{
  text-align: center;
  font-size: 2rem;
}
#intro{
  color: white;
  text-align: center;
  font-size: 1.5rem;
}