.comntainer{
  font-size: 1.5rem;
  margin-top: 2rem;
}
.table{
  padding: 2rem;
  font-size: 2rem;
}
td{
  font-family: 'Patrick Hand', cursive;
}
img{
  width:250px;
  height: 250px;
  background: #5441;
}
.profile-info{
  border-left: 2px solid white;
}
.row{
  margin-bottom: 3rem;
}